<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920573239146-m92lh1j2oeggch7btu8kul58nni27v25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920573239146-m92lh1j2oeggch7btu8kul58nni27v25</string>
	<key>API_KEY</key>
	<string>AIzaSyBWBC3vY5BjXPdb-tgT4m-TMS8DgDzCi-k</string>
	<key>GCM_SENDER_ID</key>
	<string>920573239146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LambdaSchool.MyMovies</string>
	<key>PROJECT_ID</key>
	<string>mymoviessprint-95995</string>
	<key>STORAGE_BUCKET</key>
	<string>mymoviessprint-95995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920573239146:ios:17c2011dcfb228c4610f13</string>
	<key>DATABASE_URL</key>
	<string>https://mymoviessprint-95995.firebaseio.com</string>
</dict>
</plist>